<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<title>Peliculas</title>
</head>
<body class="bg-primary-subtle">

	<div class="container">
	<div th:if="${not #lists.isEmpty(listaPeliculas)}">
		<h2> lista de peliculas</h2>
		<table class="table table-stripped">
			<tr>
			<th>id</th>
			<th>titulo</th>
			<th>año de lanzamiento</th>
			<th>genero</th>
			</tr>
			<tr th:each="peliculas : ${listaPeliculas}">
			 <td th:text="${peliculas.id_pelicula}">id</td>
			 <td th:text="${peliculas.titulo}">titulo</td>		
			 <td th:text="${peliculas.anio_lanzamiento}">año de lanzamiento</td>
			 <td th:text="${peliculas.genero.nombre_genero}">genero</td>	
			</tr>
		</table>
	</div>	
	</div>

</body>
</html>